/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #d7e0ef;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 20px;
}
td {
  padding: 10px;
  background-color: #e3e9f2;
}
th {
  font-size: 1.13em;
  padding: 15px;
  border: none;
  background-color: #e3e9f2;
}
table {
 text-align: center;
 margin: auto;
}
.content {
  width: 50%;
  margin:auto;
  background-color: rgba(198, 204, 211, 0.3);
  margin-bottom: 40px;
  padding: 20px;
}
h1 {
  padding-top: 20px;
  padding-bottom: 10px;
}
.animal {
  max-width: 100px;
}

@media screen and (max-width: 770px) {
  body {
    padding: 0;
    margin: 0;
  }
  .content{
    padding: 0;
    margin: 0;
    width: 100%;
  }
  td, th{
    padding: 0;
  }
}
